    <!-- Your footer code -->
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <i class="fa fa-twitter"></i>
            <i class="fa fa-facebook"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-youtube"></i>
          </div>
          <div class="col-xs-12 col-sm-8 text-right">
            <p>Coded by Yalroc @ Le Wagon</p>
          </div>
        </div>
      </div>
    </div>
